<script src='/comments.js'></script>

<div class='mx-auto max-w-prose w-full space-y-10 md:space-y-14'>
    <article class='flex w-full flex-col space-y-8 md:space-y-10'>
        <div class='space-y-4'>
            <h1 class='text-4xl font-extrabold md:text-5xl md:leading-tight break-words'>
                {{article.title}}
            </h1>
            {{#if article.subtitle}}
                <h2 class='text-lg font-semibold text-primary/60 md:text-xl break-words'>
                    {{article.subtitle}}
                </h2>
            {{/if}}
            <div class="flex gap-1.5 flex-wrap items-center">
                <h3 class='text-md'>By <b>@{{article.author.username}}</b></h3>
                <span class='font-bold'>·</span>
                <div class='text-primary/80'>{{formatDate article.createdAt}}</div>
                {{#if article.timeToRead}}
                    <span class='font-bold'>·</span>
                    <div class='text-primary/80'>{{article.timeToRead}} min read</div>
                {{/if}}
                {{#if article.tags.length}}
                    <span class='font-bold'>·</span>
                    <div class="flex flex-wrap gap-1">
                        {{#each article.tags}}
                            {{> tag name=this }}
                        {{/each}}
                    </div>
                {{/if}}
                {{#if (mayEdit userId article.author._id isAdmin)}}
                    <div class="flex justify-end gap-2 flex-wrap w-full mt-1">
                        <a
                            href="/blog/{{article._id}}/edit"
                            class='h-6 px-2 gap-1 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-input bg-background text-sm font-medium ring-offset-background transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50'
                        >
                            Edit Article{{> icons/edit size='4' }}
                        </a>
                        <button
                            type='button'
                            onclick="handleDeleteArticle('{{article._id}}')"
                            class='h-6 px-2 gap-1 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-destructive text-destructive-foreground hover:bg-destructive/90'
                        >
                            Delete Article
                        </button>
                    </div>
                {{/if}}
            </div>
        </div>

        {{#if article.image}}
            <img src='{{article.image}}' title="Featured image" alt='Featured image' class='rounded-lg w-full max-h-[500px]' />
        {{/if}}

        <div class='prose prose-neutral prose-lg dark:prose-invert prose-h1:text-3xl prose-headings:mt-5 prose-headings:mb-1.5 prose-h2:text-2xl prose-h3:text-xl prose-p:my-1.5 prose-ul:my-1.5 prose-ol:my-1.5 prose-li:my-0 prose-blockquote:my-5 break-words prose-img:rounded-lg prose-img:my-3 prose-a:text-blue-500'>
            {{{article.body}}}
        </div>
    </article>

    <section class='flex flex-col gap-4'>
        <h2 class='text-2xl font-bold'>{{article.comments.length}} Comment{{#if (eq article.comments.length 1)}}{{else}}s{{/if}}</h2>

        {{#if userId}}
            <form id="comment-form" class='flex flex-col space-y-2'>
                <input type="hidden" name="articleId" id="articleId" value="{{article._id}}">
                <textarea
                    id="comment-input"
                    name='comment-input'
                    type='text'
                    placeholder="Add a comment..."
                    required
                    rows='2'
                    class='flex w-full rounded-md border border-input bg-background px-3 py-2 text-md ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2'
                ></textarea>
                <button
                    type='submit'
                    class='ml-auto inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2'
                >
                    Comment
                </button>
            </form>
        {{else}}
            <div class="italic mb-2">To write a comment, you have to <a href="/sign-in?redirectTo={{uriEscape activePath}}" class="underline text-blue-500">Sign-In</a> first.</div>
        {{/if}}

        <div class='space-y-6'>
            {{#each article.comments}}
                {{> comment _id=_id body=body createdAt=createdAt author=author lastEditedAt=lastEditedAt userId=../userId articleAuthorId=../article.author._id isAdmin=../isAdmin }}
            {{/each}}
        </div>

    </section>
</div>