<script src="/editUser.js"></script>

<div class='flex w-full flex-col gap-8'>
    <div class="flex flex-wrap gap-2 items-center">
        <h1 class='text-4xl font-semibold'>Admin-Panel</h1>
        <button
            onclick="window.history.back()"
            class='px-4 py-2 h-10 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-input bg-background text-sm font-medium ring-offset-background transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2'
        >
            Go back
        </button>
    </div>


    <form id="user-edit-form" class='mx-auto flex w-full max-w-sm flex-col rounded-lg border bg-background p-4 gap-3'>
        <h2 class='text-xl font-semibold'>{{#if isEdit}}Edit User - @{{user.username}}{{else}}Create new User{{/if}}</h2>

        <input type="hidden" id="id" name="id" value="{{user._id}}" />
        <input type="hidden" id="isEdit" name="isEdit" value="{{isEdit}}" />

        {{> input id='username' name='username' type='text' value=user.username label='Username' required=true value=user.username star=true }}
        {{> input id='email' name='email' type='email' value=user.email label='Email' required=true value=user.email star=true }}
        {{#if isEdit}}
            {{> input id='password' name='password' type='password' label='Password' placeholder='Leave empty to keep the same' }}
        {{else}}
            {{> input id='password' name='password' type='password' label='Password' required=true }}
        {{/if}}

        <button
            type="submit"
            class='inline-flex h-10 w-full items-center justify-center whitespace-nowrap rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2'
        >
            {{#if isEdit}}
                Update User
            {{else}}
                Create User
            {{/if}}
        </button>
    </form>
</div>