<!-- Using the Quill.js library as a rich text editor -->
<link href="/quill.snow.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.js"></script>
<script src="/editArticle.js"></script>

<div class='w-full'>
    <form id="new-article-form" class='grid grid-cols-2 gap-3'>
        <div class='col-span-2 flex justify-between mb-2 md:mb-3'>
            <h1 class='text-4xl font-semibold'>
                {{#if article}}
                    Edit Article
                {{else}}
                    New Article
                {{/if}}
            </h1>
            <div>
                {{#if article}}
                    <button
                        type='button'
                        onclick="handleDeleteArticle('{{article._id}}')"
                        class='h-10 px-4 py-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-destructive text-destructive-foreground hover:bg-destructive/90'
                    >
                        Delete Article
                    </button>
                {{/if}}
                <button
                    type='submit'
                    class='inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2'
                >
                    {{#if article}}
                        Update Article
                    {{else}}
                        Publish Article
                    {{/if}}
                </button>
            </div>
        </div>

        <input type="hidden" id="authorId" name="authorId" value="{{#if article}}{{article.authorId}}{{else}}{{userId}}{{/if}}">
        <input type="hidden" id="isEdit" name="isEdit" value="{{isEdit}}">
        <input type="hidden" id="articleId" name="articleId" value="{{article._id}}">

        <div class='col-span-2'>
            {{> input id='title' name='title' type='text' label='Title' required=true maxlength=120 star=true value=article.title }}
        </div>

        <div class='col-span-2'>
            {{> input id='subtitle' name='subtitle' type='text' label='Subtitle / Preview Text' required=true star=true maxlength=200 value=article.subtitle }}
        </div>

        <div>
            {{> input id='tags' name='tags' type='text' label='Tags' required=false maxlength=50 placeholder='Tag1, Tag2, ...' value=(join article.tags) }}
        </div>
        <div>
            {{> input id='timeToRead' name='timeToRead' type='number' label='Time to read' required=false placeholder='in minutes' pattern='[0-9]*' numeric=true value=article.timeToRead }}
        </div>

        <div class='col-span-2'>
            {{> input id='image' name='image' type='text' label='Featured Image' required=false placeholder='URL' pattern='https?://.*' maxlength=500 value=article.image }}
        </div>

        <section class="col-span-2 mt-2">
            <label for="editor" class="block text-sm font-medium leading-6 mb-1">Content<span
                class="text-red-600">*</span></label>
            <h4 class="text-xs mb-0.5">Please note: The preview in this editor may look different to the final article (e.g. font sizes, spacing, images, ...)</h4>
            <div id="editor">{{{article.body}}}</div>
        </section>
    </form>
</div>
