<article
    class='grid h-auto w-full grid-cols-4 grid-rows-[1fr_auto] gap-2 sm:h-36 sm:grid-cols-4 sm:grid-rows-1 sm:gap-4'
>
    <a href='/blog/{{_id}}' class='col-span-4 h-full w-full sm:col-span-1'>
        <img
            class='h-full max-h-48 w-full rounded-lg object-cover sm:max-h-36'
            src='{{image}}'
            alt='Featured Image'
            title='Featured Image'
        />
    </a>
    <div class='col-span-4 flex h-auto w-full flex-col gap-0.5 sm:col-span-3'>
        <div class='flex items-center gap-1'>
            <h4 class='text-sm font-bold'>@{{author.username}}</h4>
            <span class='h-full text-center font-bold'>·</span>
            <div class='text-sm text-primary/80'>Published {{toXMagnitudeAgo createdAt}}</div>
        </div>
        <a href='/blog/{{_id}}' class='line-clamp-4 text-xl font-bold sm:line-clamp-2'>{{title}}
        </a>
        <p class='text-sm text-primary/80'>{{subtitle}}
            <a href='/blog/{{_id}}' class='text-sm font-semibold'>...Read more</a>
        </p>
    </div>
</article>