<div class='mx-auto flex w-80 flex-col justify-center px-4 pt-6 md:pt-24'>
    <div class='sm:mx-auto sm:w-full sm:max-w-sm'>
        <h2 class='text-center text-2xl font-bold leading-9 tracking-tight'>
            {{#if isSignUp}}
                Sign up for an account
            {{else}}
                Sign in to your account
            {{/if}}
        </h2>
    </div>

    <div class='mt-6 sm:mt-8 sm:w-full sm:max-w-sm'>
        <form class='flex flex-col gap-3' id='{{idPrefix}}-form'>
            <div>
                {{> input id='username' name='username' type='text' label='Username' required=true autocomplete='username'}}
            </div>

            <div>
                {{> input id='password' name='password' type='password' label='Password' required=true autocomplete='password'}}
            </div>

            <p id='sign-in-error' class='hidden text-sm text-destructive'>Error message</p>

            <div>
                <button
                    id='submitButton'
                    type='button'
                    onclick='{{submitHandler}}'
                    class='inline-flex h-10 w-full items-center justify-center whitespace-nowrap rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2'
                >
                    {{#if isSignUp}}
                        Sign up
                    {{else}}
                        Sign in
                    {{/if}}
                </button>
            </div>
        </form>

        <p class='mt-6 text-center text-sm text-muted-foreground sm:mt-8'>
            {{#if isSignUp}}
                Already have an account?
            {{else}}
                Don't have an account?
            {{/if}}
            <a
                onclick="window.location='{{linkto}}'+window.location.search;"
                class='cursor-pointer font-semibold leading-6 text-primary hover:brightness-75'
            >
                {{#if isSignUp}}
                    Sign in
                {{else}}
                    Create one
                {{/if}}
            </a>
        </p>
    </div>
</div>


<script>
    // script to submit form on enter key press
    const form = document.getElementById('{{idPrefix}}-form');
    const submitButton = document.getElementById('submitButton');

    form.addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            // Simulate click on submit button
            submitButton.click();
        }
    });
</script>