<div class='mx-auto flex w-80 flex-col justify-center px-4 pb-12 pt-6 md:pt-24'>
    <div class='sm:mx-auto sm:w-full sm:max-w-sm'>
        <h2 class='text-center text-2xl font-bold leading-9 tracking-tight'>
            {{#if isSignUp}}
                Sign up for an account
            {{else}}
                Sign in to your account
            {{/if}}
        </h2>
    </div>

    <div class='mt-6 sm:mt-8 sm:w-full sm:max-w-sm'>
        <form class='space-y-4 sm:space-y-6' id='{{idPrefix}}-form'>
            <div>
                <label for='username' class='block text-sm font-medium leading-6'>Username</label>
                <div class='mt-1'>
                    <input
                        id='username'
                        name='username'
                        type='text'
                        autocomplete='username'
                        required
                        class='flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50'
                    />
                </div>
            </div>

            <div>
                <label for='password' class='block text-sm font-medium leading-6'>Password</label>
                <div class='mt-1'>
                    <input
                        id='password'
                        name='password'
                        type='password'
                        autocomplete='current-password'
                        required
                        class='flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50'
                    />
                </div>
            </div>

            <p id='sign-in-error' class='hidden text-sm text-destructive'>Error message</p>

            <div>
                <button
                    type='button'
                    onclick='{{submitHandler}}'
                    class='inline-flex h-10 w-full items-center justify-center whitespace-nowrap rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50'
                >
                    {{#if isSignUp}}
                        Sign up
                    {{else}}
                        Sign in
                    {{/if}}
                </button>
            </div>
        </form>

        <p class='mt-6 text-center text-sm text-muted-foreground sm:mt-8'>
            {{#if isSignUp}}
                Already have an account?
            {{else}}
                Don't have an account?
            {{/if}}
            <a
                onclick="window.location='{{linkto}}'+window.location.search;"
                class='cursor-pointer font-semibold leading-6 text-primary hover:brightness-75'
            >
                {{#if isSignUp}}
                    Sign in
                {{else}}
                    Create one
                {{/if}}
            </a>
        </p>
    </div>
</div>