<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <title>Till's Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='/style.css' rel='stylesheet' />
        <script src='/theme.js'></script>
        <script src='/mobileMenu.js'></script>
        <script src='/alerts.js'></script>
        <script src='/auth.js'></script>
    </head>

    <body onload="setTheme()" class="min-h-screen">
        <div class="dark hidden underline"></div> <!-- This div is just used to load the dark theme classes -->

        <!-- This navbar is inspired from tailwind-ui but highly customized: https://tailwindui.com/components/marketing/elements/headers -->
        <header class='bg-background'>
            <nav class='w-full border-b' aria-label='Global'>
                <div class='mx-auto flex max-w-6xl items-center justify-between p-4 px-6 md:px-12'>
                    <div class='flex'>
                        <a href="/" class='text-xl font-bold'>Till's Blog</a>
                    </div>
                    <div class='flex md:hidden'>
                        <button
                            type='button'
                            onclick="handleOpenMobileMenu()"
                            class='-m-2.5 inline-flex items-center justify-center rounded-md p-2.5'
                        >
                            <span class='sr-only'>Open main menu</span>
                            {{> icons/menu }}
                        </button>
                    </div>
                    <div class='hidden md:flex gap-x-4 lg:gap-x-10'>
                        <a
                            href='/'
                            class='text-md rounded-lg p-2 font-semibold leading-6 hover:bg-accent {{styleActive activePath "/" " underline "}}'
                        >Home</a>
                        {{#if userId}}
                            <a
                                href='/articles/new'
                                class='text-md rounded-lg p-2 font-semibold leading-6 hover:bg-accent {{styleActive activePath "/articles/new" " underline "}}'
                            >Write</a>
                        {{/if}}
                        {{#if isAdmin}}
                            <a
                                href='/admin-panel'
                                class='text-md rounded-lg p-2 font-semibold leading-6 hover:bg-accent {{styleActive activePath "/admin-panel" " underline "}}'
                            >Admin-Panel</a>
                        {{/if}}
                        <a
                            href='/about'
                            class='text-md rounded-lg p-2 font-semibold leading-6 hover:bg-accent {{styleActive activePath "/about" " underline "}}'
                        >About</a>
                    </div>
                    <div class='hidden md:flex md:justify-end md:gap-x-4 md:items-center'>
                        {{> theme-toggle }}
                        {{#if userId}}
                            <button onclick="handleLogout()" class='flex items-center gap-1 text-md rounded-lg p-2 font-semibold leading-6 hover:bg-accent'>Logout
                                {{> icons/logout }}
                            </button>
                        {{else}}
                            <a
                                {{#if (or (eq activePath "/sign-up") (eq activePath "/sign-in"))}}
                                    onclick="window.location='/sign-in'+window.location.search;"
                                {{else}}
                                    onclick="window.location='/sign-in?redirectTo={{uriEscape activePath}}'"
                                {{/if}}
                                class='flex items-center gap-1 text-md rounded-lg p-2 font-semibold leading-6 hover:bg-accent cursor-pointer'>Sign in
                                {{> icons/login }}
                            </a>
                        {{/if}}
                    </div>
                </div>
            </nav>
            <!-- Mobile menu, show/hide based on menu open state. -->
            <div id="mobile-menu" class='hidden md:hidden' role='dialog' aria-modal='true'>
                <div
                    class='fixed inset-y-0 right-0 z-10 w-full max-w-xs overflow-y-auto bg-background ring-1 ring-accent'
                >
                    <div class='flex items-center justify-between p-4 px-6 border-b'>
                        <a href="/" class='text-xl font-bold'>Till's Blog</a>
                        <button type='button' onclick="handleCloseMobileMenu()" class='-m-2.5 rounded-md p-2.5'>
                            <span class='sr-only'>Close menu</span>
                            {{> icons/close }}
                        </button>
                    </div>
                    <nav class='flow-root p-4 px-6'>
                        <div class='-my-6 divide-y divide-accent'>
                            <div class='spacy-y-2 py-6'>
                                <a
                                    href='/'
                                    class='-mx-2 block rounded-lg p-2 text-md font-semibold leading-6 hover:bg-accent {{styleActive activePath "/" " underline "}}'
                                >Home</a>
                                {{#if userId}}
                                    <a
                                        href='/articles/new'
                                        class='-mx-2 block rounded-lg p-2 text-md font-semibold leading-6 hover:bg-accent {{styleActive activePath "/articles/new" " underline "}}'
                                    >Write</a>
                                {{/if}}
                                {{#if isAdmin}}
                                    <a
                                        href='/admin-panel'
                                        class='-mx-2 block rounded-lg p-2 text-md font-semibold leading-6 hover:bg-accent {{styleActive activePath "/admin-panel" " underline "}}'
                                    >Admin-Panel</a>
                                {{/if}}
                                <a
                                    href='/about'
                                    class='-mx-2 block rounded-lg p-2 text-md font-semibold leading-6 hover:bg-accent {{styleActive activePath "/about" " underline "}}'
                                >About</a>
                            </div>
                            <div class='py-6 flex flex-col space-y-2'>
                                {{#if userId}}
                                    <button
                                        onclick="handleLogout()"
                                        class='-mx-2 flex items-center gap-2 rounded-lg p-2 text-md font-semibold leading-6 hover:bg-accent'
                                    >Logout
                                        {{> icons/logout }}
                                    </button>
                                {{else}}
                                    <a
                                        {{#if (or (eq activePath "/sign-up") (eq activePath "/sign-in"))}}
                                            onclick="window.location='/sign-in'+window.location.search;"
                                        {{else}}
                                            onclick="window.location='/sign-in?redirectTo=+{{uriEscape activePath}}'"
                                        {{/if}}
                                        class='-mx-2 flex items-center gap-2 rounded-lg p-2 text-md font-semibold leading-6 hover:bg-accent cursor-pointer'
                                    >Sign in
                                        {{> icons/login }}
                                    </a>
                                {{/if}}
                                <div class="w-full text-sm text-primary/90 flex items-center gap-2">
                                    Toggle theme:
                                    {{> theme-toggle }}
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <main class='mx-auto flex max-w-6xl p-6 md:p-12 mb-auto'>
            {{{body}}}
        </main>

        <footer class='sticky top-[100vh] flex justify-center bg-background h-[60px] items-center border-t'>
            <p class='mx-auto text-muted-foreground text-sm max-w-6xl'>
                &copy; 2024 Till's Blog. All rights reserved.
            </p>
        </footer>

        <section id="alert-snack" class="hidden fixed bottom-4 right-4 bg-destructive p-2 rounded-lg text-destructive-foreground">
            <div class="flex gap-2">
                <span id="alert-message"></span>
                <button id="alert-close-btn" onclick="handleCloseAlert()">{{> icons/close }}</button>
            </div>
        </section>

    </body>
</html>